<div class="modal fade modalNote" id="noteModal{{this._id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{this.title}}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                {{#if this.notes}}
                                <p class="note-{{this._id}}"></p>
                {{else}}
                            <h4>No notes for this post yet.</h4>
                {{/if}}
                <div class="form-group">
                    <textarea id="bodyinput" class="form-control" rows="4" name="body" placeholder="Make a note here!"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary save-note" data-id={{this._id}}>Save Notes</button>
                <div class="no-text"></div>
            </div>
        </div>
    </div>
</div>